{{#if resume.education.length}}
<section id="education" class="education">
  <h2>Education</h2>
  {{#each resume.education}}
  <div class="item">
    <header>
      {{#if institution}}
        <h3 class="name">{{institution}}</h3>
      {{/if}}
    </header>
    <small class="dates">
      {{#if startDate}}
      <span class="startDate">{{date startDate}}</span>
      {{/if}}
      {{#if endDate}}
      <span class="endDate"> - {{date endDate}}</span>
      {{else}}
      <span class="endDate"> - Present</span>
      {{/if}}
    </small>
    <div class="qualification">
      {{#if studyType}}
      <span class="studyType">{{studyType}}</span>
      {{/if}}
      {{#if area}}
      <span class="area"> - {{area}}</span>
      {{/if}}
      {{#if gpa}}
      <span class="gpa">GPA: {{gpa}}</span>
      {{/if}}
    </div>
  </div>
  {{/each}}
</section>
{{/if}}